<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="setPageName()" title="Emulab Games Community">
                    <img alt="Dayzlight Admin" src="~/Content/Pictures/logo.png" height="32px" style="margin-top: -6px; margin-bottom: -6px;">
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("General", "General", "Home")</li>
                    <li>@Html.ActionLink("Livemap", "Livemap", "Home")</li>
                    <li>@Html.ActionLink("Users", "Users", "Home")</li>
                    <li>@Html.ActionLink("Tools", "Tools", "Home")</li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @using (@Html.BeginForm("Logout", "Auth", FormMethod.Get))
                            {
                                <button class="btn btn-link btn-logout" type="submit">Logout</button>
                            }
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ivan Kishchenko</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
